<!DOCTYPE html>
<html lang="fr">
  <h1>Create deal</h1>

  <form action="/deals/create" method="post">
    
    <div class="form-group">
      <label for="name">Name of the deal*</label>
      <input class="form-control" type="text" id="name" name="name" placeholder="Name" required/>
    </div>

    <div class="form-group">
      <label for="image">Lien vers l'image</label>
      <input class="form-control" type="text" id="image" name="image" placeholder="Ex: http://lien.vers-l-image.com/img.jpeg">
    </div>

    <div class="form-group">
      <label for="proId">Pro*</label>
      <select class="form-control" id="proId" name="proId" required>
        {{#list pros}}
        <option value={{id}}>{{name}}</option>
        {{/list}}
      </select>
    </div>

    <div class="form-group">
      <label for="description">Description of the deal</label><br/>
      <textarea class="form-control" name="description" id="description" placeholder="Description" rows="5"></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input class="form-control" type="number" id="price" name="price" placeholder="Price of the deal"/>
    </div>

    <div class="form-group">
      <label for="capacity">Capacity</label>
      <input class="form-control" type="number" id="capacity" name="capacity" placeholder="Capacity"/>
    </div>

    <div class="form-group">
      <label for="begin">Begin date*</label>
      <input class="form-control" type="date" id="begin" name="begin" placeholder="Begin date" required/>
    </div>

    <div class="form-group">
      <label for="end">End date*</label>
      <input class="form-control" type="date" id="end" name="end" placeholder="End date" required/>
    </div>

    <div class="form-group">
      <label for="hidden">Do you want to hide this deal ? If not, it will be displayed on the map.</label>
      <select class="form-control" id="hidden" name="hidden" required>
        <option value="False">No</option>
        <option value="True">Yes</option>
      </select>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        Create
      </button>
    </div>

  </form>
</html>