<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <h1> {{pro.name}} </h1>

  <p>List of the deals this pro offers: </p>

  <table class="table">

    <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Period of validity</th>
      <th>Surprise</th>
      <th>Actions</th>
    </thead>

    <tr>
    <td>
      <a class="btn btn-secondary btn-sm" role="button">
        Name
      </a>
    </td>
    <td>
      Price €
    </td>
    <td>
      Begin: <br/>
      End: 
    </td>
    <td>
      Surprise
    </td>
    <td>
      <a class="btn btn-outline-secondary btn-sm" role="button">
        Update
      </a>
      <a class="btn btn-outline-danger btn-sm" role="button">
        Delete
      </a>
    </td>
  </tr>

</table>

  <div class="text-center">
    <a class="btn btn-primary" href="/deals/create" role="button">
      Add a Deal
    </a>
  </div>

</html>
